In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.DataFrame({'x': [1, 5], 'y': [2, 4]})

In [11]:
df*=2
df

    x  y
0   2  4
1  10  8

In [12]:
df.cov()

      x     y
x  32.0  16.0
y  16.0   8.0

In [21]:
D = np.array([[3,9],[4,6]])

In [22]:
np.cov(D)

array([[18.,  6.],
       [ 6.,  2.]])